services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    image: backend-dev
    container_name: backend-dev
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    image: frontend-dev
    container_name: frontend-dev
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true