:root {
  --bg-color: rgba(245, 240, 234, 1);
  --font-color: rgba(103, 88, 68, 1);
}

h1 {
  font-size: 48px;
  color: var(--font-color);
}

p {
  font-size: 32px;
  color: var(--font-color);
}

span {
  font-size: 32px;
  color: var(--font-color);
}

#profileBanner {
  background-color: #e0cdb2;
  display: flex;
  width: 100%;
  padding: 30px;
}

#profileBanner > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profileName {
  font-size: 45px;
  line-height: 0.6;
}

#profileBannerContents {
  padding-left: 30px;
  display: inline-block;
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "about pets pets"
    "about pets pets"
    "hDivider hDivider hDivider"
    "posts posts posts"
    "gallery gallery gallery";
}

.nameEditor {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  #aboutContainer {
    grid-area: about;
    padding-bottom: 120px;
  }

  .nameEditor {
    flex-direction: column;
  }

  #profileBanner {
    flex-direction: column;
    align-items: center;
  }
}

#aboutContainer {
  grid-area: about;
}

#petsContainer {
  grid-area: pets;
}

#horizontalDivider {
  grid-area: hDivider;
}

.flexBox {
  display: flex;
  padding-top: 30px;
}

#postsContainerUser {
  grid-area: posts;
  display: flex;
  padding: 30px;
}

#postsContainer {
  grid-area: posts;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

#postIcon {
  padding-left: 15px;
}

.oddItem {
  background-color: #ffc2cf;
  color: var(--font-color);
  font-family: "Itim";
  font-size: 32px;
  justify-content: space-evenly;
  padding: 30px;
}

.evenItem {
  background-color: #ffecf0;
  color: var(--font-color);
  font-family: "Itim";
  text-transform: none;
  font-size: 32px;
  padding: 30px;
}

#aboutTitle {
  padding-left: 30px;
  font-size: 40px;
}

.banner {
  justify-self: center;
  padding: 30px;
}

li {
  color: var(--font-color);
  font-size: 32px;
  text-align: center;
}

.petItem {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
}

.petItem img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.petName {
  padding-right: 30px;
  color: var(--font-color);
  text-transform: none;
  font-family: "Itim";
  font-size: 32px;
}

#backButton {
  padding-right: 30px;
  color: var(--font-color);
  text-transform: none;
  font-family: inherit;
  font-size: 32px;
  margin: 10px;
}

#settingsButton {
  padding: 0;
}

.input {
  background-color: var(--bg-color);
  border-radius: 100px;
  padding: 10px;
  max-height: 59px;
  border-bottom: "none";
}

#petUploadButton {
  padding-right: 30px;
  color: var(--font-color);
  text-transform: none;
  font-family: inherit;
  font-size: 32px;
}

#petInfoContainer {
  padding-top: 50px;
}

#deleteProfileButton {
  color: #c10058;
  text-transform: none;
  font-size: 32px;
  font-family: inherit;
  text-decoration-line: underline;
}
