.buttonStyle {
  border-radius: 100px;
  border: 1px solid rgba(147, 191, 191, 1);
  background-color: rgba(179, 232, 232, 1);
  color: inherit;
  font: inherit;
  display: flex;
  width: 40%;
  margin: 10px;
  justify-content: center;
}